<h1 align="center"> Sign up for Alpha blog </h1>

<!-- copio todo lo que hay en _form.html.erb y lo modifico para los casos que voy a añadir: user, email y password-->

<%= render 'form' %>    <!-- me remito al archivo _form.html.erb-->