<!-- Depend of the rules this will give an error or not. For example: if the title is empty, there will have an error.
Antes este código estaba con @article, pero para hacerlo más genérico lo hacemos con obj-->
<% if obj.errors.any? %>
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <div class="alert alert-danger">
        <div class="panel-heading">
          <h2 class="panel-title">
            <!-- la siguiente línea hace que si hay más de un error diga que hay errors y no error-->
            <%= pluralize(obj.errors.count, "error") %>
            prohibited this article from being saved:
          </h2>
          <div class="panel-body">
            <ul>
              <% obj.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>