<!-- Ahora, utilizo la página getbootstrap para diseña mi home page. como la obtengo de la jumbotron, lo
especifico-->

<div class="center jumbotron">  <!-- center es para que el boton apareczca en el centro está en custom-->
    <h1> ALPHA BLOG </h1>
  <%= link_to "Sign up now", signup_path, class: "btn btn-primary btn-lg btn-xlarge" %>
  <!-- si pongo btn-danger sale en rojo-->
 </div>



